<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NASA/ADS Search (Beta Interface)</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <style>
        .table_main {
            border-collapse:collapse;
            width:90%;
            margin:0px auto;
        }
        .table_main tr {
            border:none;
        }
        .table_main th, td {
            border-collapse:collapse;
            border-left:0;
            border-right:0;
            padding:10px;
        }
        input[type="submit"]  {

            font-size:1.8em;
            cursor:pointer;
        }
    </style>
</head>
<body>
    <div class="header-container">
        <img src="http://adsabs.harvard.edu/figs/ads_logo_medium_dark_background.png" alt="ADS" width="40%"/> <br>
        <h3><A HREF="https://ui.adsabs.harvard.edu">NASA/ADS Search</a> (Beta Interface)</h3>
        <hr>
    </div>
    <div class="main-container">
        {% block content %}
        <h3><b>NASA/ADS Author-Affiliation Service</b></h3>
        <table style="border:0;padding:20px;width:90%;margin:0px auto;">
            <tr>
                <th align="left">
                    <h4>This form allows you to manipulate a list of authors and affiliations found in papers,
                    and then save the output to a comma-separated or excel table. After you seleect the list
                    of authors and affiliations you want included in the list, click on one of the options
                    below to download or view the resulting table. 2-column tables contain author name,
                    affiliation(s). 3-column tables contain last name, first name, affiliation(s). Formatted
                    lists contain author name (affiliation).</h4>
                </th>
            </tr>
        </table>
        <table style="border:0;padding:20px;width:30%;margin:0px auto;">
            <tr>
                <th width="80%">
                <select name="export_top" id="export_top" width="300px" style="font-size:0.9em;" onchange="synchronize_export_lists(this);">
                {% for e in exportlist %}
                    <option value="{{ e }}" SELECTED>{{ e }}</option>
                {% endfor %}
                </select>
                </th>
                <th width="20%">
                <form action = "/export_selection_top" method = "post" onsubmit="return save_selection()">
                    <input type="hidden" name="selected_info_top" id="selected_info_top" value="">
                    <input type="submit" name="export_top_button" value="Export" style="font-size:20px">
                </form>
                </th>
            </tr>
        </table>
        <table class="table_main"><tr><td>
            {% for key, value in authordict.iteritems() %}
                <tr style="border:1px solid;">
                    <td valign="top" width="20%" border="1px">
                        <input type=checkbox id="id_{{ key }}" checked class="author">
                        <label for="id_{{ key }}">{{ key }}</label>
                    </td>
                    <td valign="top">
                        {% for aff in value %}
                            {% if aff != None %}
                                <input type=checkbox id="id_{{ key }}_aff_{{ aff }}" name="aff_checkbox" onclick="affiliation(this);"
                                       {%if loop.index0 == 0%} checked class="first" {%endif%} >
                                <label for="id_{{ key }}_aff_{{ aff }}">{{ aff }}</label>
                                <br>
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        {% endblock %}
        </td></tr></table>
        <table style="border:0;padding:20px;width:30%;margin:0px auto;">
            <tr>
                <th width="80%">
                <select name="export_bottom" id="export_bottom" width="300px" style="font-size:0.9em;" onchange="synchronize_export_lists(this);">
                {% for e in exportlist %}
                    <option value="{{ e }}" SELECTED>{{ e }}</option>
                {% endfor %}
                </select>
                </th>
                <th width="20%">
                <form action = "/export_selection_bottom" method = "post" onsubmit="return save_selection()">
                    <input type="hidden" name="selected_info_bottom" id="selected_info_bottom" value="">
                    <input type="submit" name="export_bottom_button" value="Export" style="font-size:20px">
                </form>
                </th>
            </tr>
        </table>
    </div>
    <div class="footer-container">
    </div>
</body>
<script>
// if author is unchecked, uncheck all affiliation, and
// if author is checked, check the first affiliation
$(".author").click(function()  {
    if (! $(this).is(':checked')) {
        $(this).parents('tr').find(':checkbox').prop('checked', false);
    }  else   {
        $(this).closest('td').siblings().find('.first').prop('checked', true);
    }
});

// if all affiliations is removed, uncheck the author
function affiliation(control)
{
    if (! $(control).is(':checked')) {
        if ($(control).siblings().filter(':checked').length == 0)
            $(control).parents('tr').find(':checkbox').prop('checked', false);
    }  else {
        $(control).parents('tr').find(':checkbox').filter('.author').prop('checked', true);
    }
};

// synchronize the top and bottom export selects
function synchronize_export_lists(list)
{
	if($(list).prop('id') == 'export_top')
	{
		var value = $('#export_top > option:selected').val();
		$('#export_bottom > option[value="'+value+'"]').prop('selected', 'selected');
	}
	else if($(list).prop('id') == 'export_bottom')
	{
		var value = $('#export_bottom > option:selected').val();
		$('#export_top > option[value="'+value+'"]').prop('selected', 'selected');
	}
};

function save_selection()  {
    var data = {
        "selected":$("input[name=aff_checkbox]:checked").map(function () {return this.id;}).get().join("||"),
        "format":$('#export_top > option:selected').val()
    };
    document.getElementById("selected_info_top").value = JSON.stringify(data);
    document.getElementById("selected_info_bottom").value = JSON.stringify(data);
}

</script>
</html>

