$def with (authors, methods)

<h4>This form allows you to manipulate a list of authors and affiliations found in papers, 
and then save the output to a comma-separated or excel table. <br> After you seleect the list 
of authors and affiliations you want included in the list, click on one of the options below 
to download or view the resulting table.<br>  2-column tables contain author name, affiliation(s).
3-column tables contain last name, first name, affiliation(s). Formatted lists contain author name (affiliation).</h4>

$code:
	#I extract the author names and I order them
	author_names = authors.keys()
	author_names.sort()

<form method="post" action="$base_url/export/" target="_blank">

<div style="float: left; clear:both; margin-bottom:20px; margin-left:50px;">
	<select id="select_top" name="export_type" style="font-size:1.1em;" onchange="syncronize_select(this);">
		<option value="submit_csv">|Lastname, Firstname|Affiliation| [csv]</option>
		<option value="submit_csv_div">|Lastname|Firstname|Affiliation| [csv]</option>
		<option value="submit_excel">|Lastname, Firstname|Affiliation| [excel]</option>
		<option value="submit_excel_div">|Lastname|Firstname|Affiliation| [excel]</option>
		<option value="submit_txt">Lastname, Firstname (Affiliation) [text]</option>
		<option value="submit_txt_browser">Lastname, Firstname (Affiliation) [browser]</option>
	</select>
	<input type="submit" name="export" value="Export" style="font-size:1.1em; cursor:pointer; margin-left: 15px;"> 
</div>
$for auth in author_names:
	<div style="float: left; clear:both; border: 1px solid #AAA; padding:2px; width:1024px; margin-bottom:5px;">
		<div style="float:left; width:200px;">
			<input type="checkbox" checked="checked" name="author_$loop.index" id="author_$loop.index" value="$:auth" onclick="check_aff(this);"> $:auth 
		</div>
		$code:
			context_index = loop.index
		<div style="float:left; width:800px;">
			$code:
				#i set a default value for the context_affiliation_index
				context_affiliation_index = 1
			$for elem in authors[auth]:
				$code:
					#I extract the affiliation and the dates
					aff = elem[0]
					dates = elem[1]
					#I build the name for the input
					name_aff = 'author_'+ methods['str'](context_index) + '_affiliation_' + methods['str'](loop.index)
					#I update the context index
					context_affiliation_index = loop.index
					#I check if the current checkbox has to be checked (only the first one has to)
					if loop.index == 1:
						checkedvar = 'checked="checked"'
					else:
						checkedvar = ''
				<div style="float:left; clear:both;">
					<input type="checkbox" $:checkedvar name="$name_aff" id="$name_aff" value="$:aff" onclick="check_auth(this);"> $:aff
					<span style="font-style:italic;">(
					 $for year in dates:
					 	$if not loop.last:
							$year, 
						$else:
							$year
					)</span>
				</div>
			$code:
				name_context_aff_max = 'author_'+ methods['str'](context_index) + '_affiliations'
			<input type="hidden" name="$name_context_aff_max" value="$context_affiliation_index"> 
		</div>	
	</div>

<input type="hidden" name="authors_number" value="$context_index">
	
<div style="float: left; clear:both; margin-top:20px; margin-bottom:50px; margin-left:50px;">
	<select id="select_bottom" name="export_type" style="font-size:1.1em;" onchange="syncronize_select(this);">
		<option value="submit_csv">|Lastname, Firstname|Affiliation| [csv]</option>
		<option value="submit_csv_div">|Lastname|Firstname|Affiliation| [csv]</option>
		<option value="submit_excel">|Lastname, Firstname|Affiliation| [excel]</option>
		<option value="submit_excel_div">|Lastname|Firstname|Affiliation| [excel]</option>
		<option value="submit_txt">Lastname, Firstname (Affiliation) [text]</option>
		<option value="submit_txt_browser">Lastname, Firstname (Affiliation) [browser]</option>
	</select>
	<input type="submit" name="export" value="Export" style="font-size:1.1em; cursor:pointer; margin-left: 15px;"> 
	
</div>
</form>