$def with (content)
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<head>
<link media="screen" href="$base_url/static/jquery.msg.css" rel="stylesheet" type="text/css">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script type="text/javascript" src="$base_url/static/jquery-1.5.1.min.js">&nbsp;</script>
<script type="text/javascript" src="$base_url/static/jquery.center.min.js"></script>
<script type="text/javascript" src="$base_url/static/jquery.msg.min.js"></script>
<script type="text/javascript" src="$base_url/static/js.js">&nbsp;</script>
<title>NASA/ADS Author-Affiliation service</title>
</head>
<body style="padding:20px;">
<div style="float:left; clear:both;">
	<img src="http://doc.adsabs.harvard.edu/figs/newlogo.gif" alt="ADS" /> <br>
	<h2>NASA/ADS Author/Affiliation service</h2>
</div>

<div style="float:left; clear:both;">
	$:content
</div>

</body>
</html>